version: '3.8'

services:
  yii2:
    image: {{ image_name }}:{{ image_tag }
    ports:
      - target: 9000
        published: 9000
        protocol: tcp
        mode: host
    volumes:
      - /home/ec2-user/yii2-devops-stack/sample-php-yii2-app:/var/www/html
    networks:
      - appnet

networks:
  appnet:
    driver: overlay
